nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='/' ) Bengaluru
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                li.nav-item  
                    a.nav-link(href="/koramangala") Koramangala
                li.nav-item  
                    a.nav-link(href="/jpnagar") JP Nagara
                li.nav-item  
                    a.nav-link(href="/btm") BTM
                li.nav-item  
                    a.nav-link(href="/jayanagar") Jayanagar