html
html(lang="en")// headlines not called properly and the image path was not set properly....
head
   include shared/head.pug
body

 include shared/navbar.pug
 include shared/headline.pug
br

.container
    .row
        - for(let i=1;i<numberOfImages+1; i++)
            .col-md-6
                .thumbnail
                    img(src='/images/' +area+ '/' +area + '-' + i + '.jpg')
               
       
   
    include shared/includesJS.pug
