html
html(lang="en")
head
    include shared/head.pug

body

 include shared/navbar.pug
 include shared/headline.pug

br
div.container
    div.row
        div.col-md-12
            img.mx-auto.d-block.img-fluid.img-responsive(src="/images/homePageImage.jpg", alt="")
        
    include shared/includesJS.pug
